.clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.container() {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media @tablet-widths {
    width: 640px;
  }

  @media @desktop-widths {
    width: 960px;
  }
}

.container-fluid() {
  width: auto;

  @media @tablet-widths {    
    width: 84%;  /* 640/768 */
    max-width: 1200px;
    margin: 0 auto;
  }

}

.list-unstyled() {
  margin: 0;
  padding: 0;

  list-style: none;
}
