.form {}

.form__wrapper {}

.form__info {
  margin-bottom: 25px;
}

.form__group {
  & + & {
    padding-top: 25px;
  }
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  margin-bottom: 5px;
  padding-left: 15px;

  border: 1px solid gray;

  &--area {
    min-height: 100px;
    padding-top: 15px;
  }
}

@media @tablet-widths {

  .form__group {
    &--fio {
      display: flex;
    }
  }

  .form__input {
    &[name="last-name"],
    &[name="patronymic"] {
      border-left: none;
    }

    &[name="phone"] {
      margin-bottom: 25px;
    }
  }

}


@media @desktop-widths {

  .form__group {
    display: flex;
    justify-content: space-between;
  }

  .form__input {
    box-sizing: border-box;
    height: 70px;
  }

  .form__group--fio > .form__input {
    width: 293px;
    border: 1px solid gray;
  }

  .form__group--contacts > .form__input {
    width: 460px;
  }

}
