.page-footer {
  margin-top: 35px;
  border-top: 1px solid @darkgray;  
}

.page-footer__wrapper {
  .container();
}

.page-footer__contacts {
  position: relative;
  margin-top: 32px;
  margin-bottom: 95px;
  padding: 0 40px;
  
  text-align: center;
  
  b {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    
  }
  
  a {
    position: absolute;
    bottom: -68px;
    left: 0;
    right: 0;
    
    color: white;
    background-color: @bg-darkgray;
    border-color: @darkgray;
  }
}

.page-footer__contacts-hidden {
  display: none;
}

.page-footer__social {
  margin-bottom: 25px;  
}

.page-footer__copyright {
  position: relative;
  text-align: center;
  
  &-link {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    
    color: white;
    background-color: @bg-darkgray;
    border-color: @darkgray;
  }
  
}