.page-header__logo {
  height: 85px;
}

@media @tablet-widths {
  .page-header {
    position: relative;
    
    padding-bottom: 400px;
  }
  
  .page-header__logo {
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 400px;
  }
}

@media @desktop-widths {
  .page-header {    
    padding-bottom: 648px;
  }
  
  .page-header__logo {    
    height: 648px;
  }
}