.social-link {
  flex-basis: 100%;
  height: 100px;
  border: 1px solid @darkgray;  
  
  font-size: 0;
  
  background-repeat: no-repeat;
  background-position: 50% 50%;
  
  &--vk {
    background-image: url("../img/vk-icon-big.png");
  }
  
  &--fb {
    background-image: url("../img/facebook-icon-big.png");
  }
  
  &--in {
    background-image: url("../img/insta-icon-big.png");
  }  
  
  &:hover {
    border: 1px solid #545454;
  }

  &:active {     
    color: rgba(255, 255, 255, 0.3);
    background-color: #252525;
  }
}


@media @desktop-widths {
  
  .social-link {    
    flex-basis: 50px;    
    height: 50px;     
    
    &--vk {    
      background-size: 30% ;
    }
  
    &--fb {    
      background-size: 20% ;
    }
  
    &--in {    
      background-size: 40% ;
    }  
  }
  
}