.works {
  color: #000000;
  
  background-color: @bg-lightgray;
}

.works__wrapper {
  .container();

  display: flex;
  flex-direction: column;
  padding-top: 23px;
}

.works__header {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}


@media @tablet-widths {

  .works__wrapper {}

  .works__header-wrapper {
    position: relative;
  }

  .works__header {
    text-align: left;
  }

}


@media @desktop-widths {

  .works__wrapper {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .works__header-wrapper {
    width: 100%;
  }

}
