.work-card {
  &--best {}
}

.work-card__photo {
  &--best {
    position: relative;
  }
}

.work-card__photo img {
  width: 280px;
  height: 176px;
}

.work-card__photo--best img {
  width: 280px;
  height: 480px;
}

.work-card__label {
  position: absolute;
  bottom: 30px;

  padding: 12px;
  padding-left: 25px;
  padding-right: 19px;

  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;

  background-color: @brown;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: -9px;
    top: 0;

    border-top: 25px solid @brown;
    border-bottom: 25px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
  }

  &::after {
    border-top-color: transparent;
    border-bottom-color: @brown;
  }

}

.work-card__desc {
  box-sizing: border-box;
  width: 100%;
  padding-top: 22px;
  padding-left: 22px;
  padding-right: 30px;
  padding-bottom: 16px;

  border: 1px solid #e5ddd5;
  border-top: none;

  &--best {
    padding-top: 18px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 0;
  }
}

.work-card__header {
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 24px;
  line-height: 27px;
}

.work-card__review {
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 27px;
}

.work-card__services {
  position: relative;
  left: -23px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 280px;

  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;

  background-color: rgba(255, 0, 0, 0.1); //time
}

.work-card__service {
  position: relative;

  box-sizing: border-box;
  width: 50%;
  margin-bottom: 16px;
  padding-left: 55px;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 23px;

    width: 25px;
    height: 22px;

    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &--hair {
    &::before {
      background-image: url("../img/icon-scissors.svg");
    }
  }

  &--mustache {
    padding-left: 65px;

    &::before {
      top: 7px;
      left: 10px;

      width: 48px;

      background-image: url("../img/icon-mustache.svg");
    }
  }

  &--beard {
    &::before {
      left: 10px;

      width: 25px;

      background-image: url("../img/icon-beard-1.svg");
    }
  }
}


@media @tablet-widths {

  .work-card {
    &--best {}
  }

  .work-card__wrapper {
    display: flex;
  }

  .work-card__photo--best {
    width: 270px;
  }

  .work-card__photo img {
    flex-shrink: 0;
    width: 270px;
    height: 293px;
  }

  .work-card__photo--best img {
    width: 270px;
    height: 480px;
  }

  .work-card__label {
    top: 35px;
    left: -2px;
    bottom: auto;

    padding-left: 20px;
    padding-right: 25px;
  }

  .work-card__desc {
    width: 370px;

    padding-top: 38px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;

    border: 1px solid #e5ddd5;
    border-left: none;

    &--best {
      padding-top: 42px;
    }
  }

  .work-card__header {
    margin-top: 0;
    margin-bottom: 26px;
  }

  .work-card__review {
    width: 230px;
    height: 118px;

    &--best {
      width: auto;
      height: 266px;
    }
  }

  .work-card__services {
    position: static;

    justify-content: flex-start;
    width: auto;
  }

  .work-card__service {
    position: relative;

    box-sizing: border-box;
    width: 130px;
    margin-bottom: 15px;
    padding-left: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;

      width: 25px;
      height: 22px;
    }

    &--hair {
      &::before {
        background-image: url("../img/icon-scissors.svg");
      }
    }

    &--mustache {
      padding-left: 47px;

      &::before {
        top: 7px;
        left: -10px;

        width: 48px;

        background-image: url("../img/icon-mustache.svg");
      }
    }

    &--beard {
      padding-left: 44px;

      &::before {
        left: 0;

        width: 25px;

        background-image: url("../img/icon-beard-1.svg");
      }
    }
  }

}


@media @desktop-widths {

  .work-card {
    width: 293px;

    &--best {
      width: 100%;
    }
  }

  .work-card__wrapper {
    position: relative;

    flex-direction: column;
    padding-top: 0;

    &--best {
      flex-direction: row;
    }
  }

  .work-card__photo {
    position: static;
    width: 293px;

    &--best {
      width: 480px;
    }
  }

  .work-card__photo img {
    width: 293px;
    height: 293px;
  }

  .work-card__photo--best img {
    width: 480px;
    height: 480px;
  }

  .work-card__label {
    top: 25px;
    left: auto;
    right: 0;

    &::before,
    &::after {
      top: 0;
      left: -9px;
      right: auto;
    }
  }

  .work-card__desc {
    width: 293px;
    padding-top: 28px;
    padding-left: 35px;
    padding-right: 30px;

    border: 1px solid #e5ddd5;
    border-top: none;

    &--best {
      width: 480px;
      padding-top: 127px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 0;
    }
  }

  .work-card__review {
    width: auto;
    height: 92px;

    &--best {
      width: 300px;
      height: 228px;
    }
  }

  .work-card__service {
    width: 50%;

    &--best {
      width: 130px;
    }
  }

}
