.work-card {

  &--best {

  }
}

.work-card__photo {

  &--best {
    position: relative;
  }
}

.work-card__label {
  //временно
  position: absolute;
  bottom: 50px;

  color: white;
  background-color: brown;

}

.work-card__desc {
  padding-top: 18px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 25px;
}

.work-card__header {
  margin-top: 0;
  margin-bottom: 15px;

  font-family: @font;
  font-size: 24px;
  line-height: 27px;

}

.work-card__review {
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 27px;
}

.work-card__survice {

}
