.work-card {
  &--best {}
}

.work-card__photo {
  &--best {
    position: relative;
  }
}

.work-card__label {
  //временно
  position: absolute;
  bottom: 50px;

  color: white;
  
  background-color: brown;
}

.work-card__desc {
  padding-top: 18px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 25px;
}

.work-card__header {
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 24px;
  line-height: 27px;  
}

.work-card__review {
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 27px;
}

.work-card__survice {}


@media @tablet-widths {

  .work-card {
    &--best {}
  }

  .work-card__wrapper {
    display: flex;
    padding-top: 40px;

    &--best {
      padding-top: 0;
    }
  }

  .work-card__photo {
    flex-shrink: 0;
    width: 270px;
    min-height: 293px; //time
    
    &--best {}
  }

}


@media @desktop-widths {
  
  .work-card {
    width: 294px;

    &--best {
      width: 100%;
    }
  }

  .work-card__wrapper {
    flex-direction: column;
    padding-top: 0;

    &--best {
      flex-direction: row;
    }
  }

  .work-card__photo {
    min-height: 480x; //time
    
    &--best {
      width: 480px;
      min-height: 293px; //time
    }
  }
  
}
